<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.pojo.UserInfo" >
    <id column="USERID" property="userid" jdbcType="DECIMAL" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="USERTEL" property="usertel" jdbcType="DECIMAL" />
    <result column="USERSEX" property="usersex" jdbcType="DECIMAL" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="BIRTHDAY" property="birthday" jdbcType="DECIMAL" />
    <result column="PROFILE" property="profile" jdbcType="VARCHAR" />
    <result column="USERLEVEL" property="userlevel" jdbcType="DECIMAL" />
    <result column="LOCATION" property="location" jdbcType="VARCHAR" />
    <result column="REGISTRATIONTIME" property="registrationtime" jdbcType="DECIMAL" />
    <result column="BLOODTYPE" property="bloodtype" jdbcType="VARCHAR" />
    <result column="USERPWD" property="userpwd" jdbcType="VARCHAR" />
    <result column="EDUEATIONINFO" property="edueationinfo" jdbcType="VARCHAR" />
    <result column="FANSNUM" property="fansnum" jdbcType="DECIMAL" />
    <result column="ATTENTIONNUM" property="attentionnum" jdbcType="DECIMAL" />
    <result column="DYNAMICNUM" property="dynamicnum" jdbcType="DECIMAL" />
    <result column="BUDDHA" property="buddha" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    USERID, USERNAME, USERTEL, USERSEX, EMAIL, BIRTHDAY, PROFILE, USERLEVEL, LOCATION, 
    REGISTRATIONTIME, BLOODTYPE, USERPWD, EDUEATIONINFO, FANSNUM, ATTENTIONNUM, DYNAMICNUM, 
    BUDDHA
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from USERINFO
    where USERID = #{userid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from USERINFO
    where USERID = #{userid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cn.com.pojo.UserInfo" >
    insert into USERINFO (USERID, USERNAME, USERTEL, 
      USERSEX, EMAIL, BIRTHDAY, 
      PROFILE, USERLEVEL, LOCATION, 
      REGISTRATIONTIME, BLOODTYPE, USERPWD, 
      EDUEATIONINFO, FANSNUM, ATTENTIONNUM, 
      DYNAMICNUM, BUDDHA)
    values (#{userid,jdbcType=DECIMAL}, #{username,jdbcType=VARCHAR}, #{usertel,jdbcType=DECIMAL}, 
      #{usersex,jdbcType=DECIMAL}, #{email,jdbcType=VARCHAR}, #{birthday,jdbcType=DECIMAL}, 
      #{profile,jdbcType=VARCHAR}, #{userlevel,jdbcType=DECIMAL}, #{location,jdbcType=VARCHAR}, 
      #{registrationtime,jdbcType=DECIMAL}, #{bloodtype,jdbcType=VARCHAR}, #{userpwd,jdbcType=VARCHAR}, 
      #{edueationinfo,jdbcType=VARCHAR}, #{fansnum,jdbcType=DECIMAL}, #{attentionnum,jdbcType=DECIMAL}, 
      #{dynamicnum,jdbcType=DECIMAL}, #{buddha,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.pojo.UserInfo" >
    insert into USERINFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="usertel != null" >
        USERTEL,
      </if>
      <if test="usersex != null" >
        USERSEX,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="profile != null" >
        PROFILE,
      </if>
      <if test="userlevel != null" >
        USERLEVEL,
      </if>
      <if test="location != null" >
        LOCATION,
      </if>
      <if test="registrationtime != null" >
        REGISTRATIONTIME,
      </if>
      <if test="bloodtype != null" >
        BLOODTYPE,
      </if>
      <if test="userpwd != null" >
        USERPWD,
      </if>
      <if test="edueationinfo != null" >
        EDUEATIONINFO,
      </if>
      <if test="fansnum != null" >
        FANSNUM,
      </if>
      <if test="attentionnum != null" >
        ATTENTIONNUM,
      </if>
      <if test="dynamicnum != null" >
        DYNAMICNUM,
      </if>
      <if test="buddha != null" >
        BUDDHA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=DECIMAL},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="usertel != null" >
        #{usertel,jdbcType=DECIMAL},
      </if>
      <if test="usersex != null" >
        #{usersex,jdbcType=DECIMAL},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DECIMAL},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=VARCHAR},
      </if>
      <if test="userlevel != null" >
        #{userlevel,jdbcType=DECIMAL},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="registrationtime != null" >
        #{registrationtime,jdbcType=DECIMAL},
      </if>
      <if test="bloodtype != null" >
        #{bloodtype,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="edueationinfo != null" >
        #{edueationinfo,jdbcType=VARCHAR},
      </if>
      <if test="fansnum != null" >
        #{fansnum,jdbcType=DECIMAL},
      </if>
      <if test="attentionnum != null" >
        #{attentionnum,jdbcType=DECIMAL},
      </if>
      <if test="dynamicnum != null" >
        #{dynamicnum,jdbcType=DECIMAL},
      </if>
      <if test="buddha != null" >
        #{buddha,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.pojo.UserInfo" >
    update USERINFO
    <set >
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usertel != null" >
        USERTEL = #{usertel,jdbcType=DECIMAL},
      </if>
      <if test="usersex != null" >
        USERSEX = #{usersex,jdbcType=DECIMAL},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=DECIMAL},
      </if>
      <if test="profile != null" >
        PROFILE = #{profile,jdbcType=VARCHAR},
      </if>
      <if test="userlevel != null" >
        USERLEVEL = #{userlevel,jdbcType=DECIMAL},
      </if>
      <if test="location != null" >
        LOCATION = #{location,jdbcType=VARCHAR},
      </if>
      <if test="registrationtime != null" >
        REGISTRATIONTIME = #{registrationtime,jdbcType=DECIMAL},
      </if>
      <if test="bloodtype != null" >
        BLOODTYPE = #{bloodtype,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        USERPWD = #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="edueationinfo != null" >
        EDUEATIONINFO = #{edueationinfo,jdbcType=VARCHAR},
      </if>
      <if test="fansnum != null" >
        FANSNUM = #{fansnum,jdbcType=DECIMAL},
      </if>
      <if test="attentionnum != null" >
        ATTENTIONNUM = #{attentionnum,jdbcType=DECIMAL},
      </if>
      <if test="dynamicnum != null" >
        DYNAMICNUM = #{dynamicnum,jdbcType=DECIMAL},
      </if>
      <if test="buddha != null" >
        BUDDHA = #{buddha,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.pojo.UserInfo" >
    update USERINFO
    set USERNAME = #{username,jdbcType=VARCHAR},
      USERTEL = #{usertel,jdbcType=DECIMAL},
      USERSEX = #{usersex,jdbcType=DECIMAL},
      EMAIL = #{email,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=DECIMAL},
      PROFILE = #{profile,jdbcType=VARCHAR},
      USERLEVEL = #{userlevel,jdbcType=DECIMAL},
      LOCATION = #{location,jdbcType=VARCHAR},
      REGISTRATIONTIME = #{registrationtime,jdbcType=DECIMAL},
      BLOODTYPE = #{bloodtype,jdbcType=VARCHAR},
      USERPWD = #{userpwd,jdbcType=VARCHAR},
      EDUEATIONINFO = #{edueationinfo,jdbcType=VARCHAR},
      FANSNUM = #{fansnum,jdbcType=DECIMAL},
      ATTENTIONNUM = #{attentionnum,jdbcType=DECIMAL},
      DYNAMICNUM = #{dynamicnum,jdbcType=DECIMAL},
      BUDDHA = #{buddha,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=DECIMAL}
  </update>
</mapper>